<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpj.springcloud.formwork.mapper.FormworkMapper">
    
    <select id="getUserByLoginId" parameterType="string" resultType="map">
        SELECT * FROM t_org_user where c_loginId = #{value}
    </select>
</mapper>
  